.landColor {
    background-color: var(--gradient-color-start);
}
.seaColor {
    background-color: var(--neutral-background-weak);
}
.earth {
    // transform: rotate(23.26deg);
    width: 600px;
    height: 600px;
}
.scanInfo {
    width: 600px;
    height: auto;
    justify-content: center;
    text-align: center;
}
.pointer {
    cursor: pointer;
}

.multiline {
    white-space: pre-line;
 }